<!--person/locations/ field partial; requires f builder object... ABANDONED-->
<div class="location_field toggled">
	<%= f.text_field :name, class: "location_field shorter_text_field elegant_text_field", placeholder: "Where?", autocomplete: "off" %>
</div>