<!--person/locations/ field partial; requires f builder object-->
<div class="location_field">
	<%= f.text_field :name, class: "location_field elegant_text_field", placeholder: "Where?", autocomplete: "off" %>
</div>