<!--person/memories/partials/_memory_block; requires variable 'memory'-->
<div class="memory_block">
	<div class="content">
		<%= simple_format memory.content %>
	</div>
	<div class="time_frame">
		<%= memory.time_frame_representation %> <!--not set up properly yet-->
	</div>
	<div class="controls">
		<%= link_to "Alter", [:edit,:person,memory] %>
	</div>
</div>