<!--person/memories/index-->
<div id="memory_index">
	
	<div id="timelines">
		<% TimeFrame.all.sort.each do |time_frame| %>
			<div id="time_frame_<%= time_frame.id %>" class="timeline" style="min-height: <%= time_frame.big_picture_length %>px">
				<% time_frame.memories.each do |m| %>
					m.id. then get the ids here, and see if this string contains the memory's id. if so, highlight!
				<% end %>
				.<!--invisible-->
			</div>
		<% end %>
		<div id="life_time_frame" class="timeline">
			.
		</div>
	</div>
	
	<!--memory.time_frames.each?-->
	<div id="memories">
		<% @memories.each do |memory| %>
			<div id="memory_<%= memory.id %>" class="memory">
				<%= render :partial => "person/memories/partials/memory_block", :locals => { :memory => memory } %>
			</div>
		<% end %>
	</div>
	
	
</div>