<!--person/memories/index-->
<div id="memory_index" class="my_red_border">
	
	<div id="timelines">
		<% TimeFrame.all.sort.each do |time_frame| %>
			<div id="time_frame_<%= time_frame.id %>" class="timeline" style="min-height: <%= time_frame.big_picture_length %>px">
				.<!--invisible-->
			</div>
		<% end %>
	</div>
	
	<div id="memories">
		<% @memories.each do |memory| %>
			<div id="memory_<%= memory.id %>" class="memory">
				<%= render :partial => "person/memories/partials/memory_block", :locals => { :memory => memory } %>
			</div>
		<% end %>
	</div>
	
	
</div>