<!--person/memories/index-->
<div id="memory_index">
	<% @memories.each do |memory| %>
		<div id="memory_<%= memory.id %>" class="memory">
			<%= render :partial => "person/memories/partials/memory_block", :locals => { :memory => memory } %>
		</div>
	<% end %>

</div>