/* =============================================== */
/*  Global              										   		 */
/* =============================================== */
@import "partials/variables";

/* General Setup */
a {
	color: $link_color;
	text-decoration: none;
	&:hover {
		color: darken($link_color, 15%);
	}
}

$title_font_size: 20px;
span.title {
	font-size: $title_font_size;
}
span.smaller_title {
	font-size: $title_font_size - 2px;
}

/* Border Helpers */
.my_border { // beware: borders can impact widths
	border: 1px solid border;
}
.my_red_border {
	border: 1px solid red;
}

/* Common Helpers */
.hidden { // maybe change to visibility: hidden, which hides the element but still lets it take up space
	display: none;
}
a.no_line {
	text-decoration: none;
}
.small {
	font-size: 10px;
}
.big {
	font-size: 20px;
}
.italic {
	font-style: italic;
}
.underlined {
	text-decoration: underline;
}
.bold {
	font-weight: bold;
}
.not_bold {
	font-weight: normal;
}
.left {
	float: left;
}
.right {
	float: right;
}
.moved_right_300 { // Handy when you want something in a form to be off to the right
	position: absolute;
	margin-left: 300px;
}
.moved_right_500 { // Handy when you want something in a form to be off to the right
	position: absolute;
	margin-left: 500px;
}
.pointer { cursor: pointer; }
.inline { display: inline; }
.inline-block { display: inline-block; }
.absolute { position: absolute; }
.relative { position: relative; }
li.no_bullet { list-style-type: none; }
ul.no_left_padding { padding-left: 0; }
.centered {
	text-align: center;
}
.isolated_vertically { // used by home.mobile.erb
	margin: 20px 0;
}
.isolated_horizontally {
	margin: 0 20px;
}
.isolated {
	margin: 20px;
}

/* Form Field Helpers */
$form_field_width: 300px;
.small_text_area {
	width: $form_field_width;
	height: 75px;
}
.longer_text_field {
	width: $form_field_width + 10px;
}
.shorter_text_field {
	width: 120px;
}
.field_with_errors { // overriding the div that the dynamic_form gem automatically creates on erroneous forms
	margin: 0;
	padding: 0;
	display: inline;
}
.rounded {
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
}
/* Buttons - http://www.cssbuttongenerator.com/ */
// Standard button; not used anywhere, but taken and modified for particular circumstances
.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	cursor: pointer;
}.button:active {
	position:relative;
	top:1px;
}

// Used in forms
.blank_button {
  background: $background_color;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border: 1px solid $background_color;
	display: inline-block;
	color: #777777;
	font-family: $common_font;
	font-weight: bold;
	text-decoration: none;
  text-shadow: 1px 1px 0px #ffffff;
  &:hover {
    border: 1px solid #dcdcdc;
  	cursor: pointer;
  }
  &:active {
  	position:relative;
  	top:1px;
  }
}