/* =============================================== */
/*  Layout file (application.html.erb)  		   		 */
/* =============================================== */
@import "partials/variables";

body {
	background: $background_color;
	
	// Header - banner area
	#header { // needed so an inner div can be centered
	  margin-top: 10px;
    #inner_header { // centered portion of header
      width: $central_width;
	    height: 30px;
  	  margin: 0 auto;
  	  a.faded_button {
        background: $background_color;
      	border: none;
      	display:inline-block;
      	color:#777777;
      	font-family: $common_font;
      	font-size: 12px;
      	font-weight: bold;
      	padding: 6px 24px;
      	text-decoration: none;
      	text-shadow: 1px 1px 0px #ffffff;
      	width: 275px; // from trial and error
      	word-spacing: 16px;
      	&:hover {
        	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
        	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
          filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
        	background-color:#dfdfdf;
        	cursor: pointer;
        }
        &:active {
          position:relative;
          top:1px;
        }
      }
         
  		div#left_area {
  		  text-align: left;
  		}
  		div#middle_area {
  		  text-align: center;
  		}
  		div#right_area {
  		  text-align: right;
  		}
		}
	}
	
	// Primary content
	#central {
	  min-height: 500px;
	}
	
	// Footer
	#footer {
	  text-align: center;
	}
	
}
