// Place all the styles related to the memories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "partials/variables";

.memory_block {
  padding: 15px;
  div.content {
    font-size: 17px;
  }
  div.time_frame {
    font-size: 13px;
    display: inline;
  }
  div.controls {
    font-size: 13px;
    display: inline;
  }
}

#memory_new, #memory_edit {
  form {
    div#ghost_content_area {
      position: absolute;
      width: $central_width;
      height: 80px;
      padding: 20px;
      font-size: 40px;
      text-align: center;
      color: $blue;
    }
    
    div#content_area {
      margin-top: 120px;
      text-align: center;
      textarea#content_text_area {
        height: 60px;
        font-size: 18px;
      }
    }
    
    div#time_frames_area {
      margin-top: 25px;
      margin-left: 50px;
      div#time_frames_form {
        div#time_frames_forms_list {
          ul#list {
            display: inline-block;
            padding-left: 0;
            li {
              list-style-type: none;
              div.fields { // textfield is in here
                width: 200px;
                
                input {
                }
              }
            }
            
          }
        }
      }
      
    }

    div#buttons {
      position: absolute;
      margin-left: $central_width - 150px;
      input#submit_memory_button {
        border: 1px solid $pleasant_gray; // border must be set somewhere or else size changes won't work
        padding: 40px;
        &:hover {
          color: $link_color;
        }
      }
    }
  } // end form
  
  #delete { // delete link on edit page
    padding: 3px;
    font-size: 10px;
    &:hover { color: red; }
  }
  
}