// Place all the styles related to the memories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "partials/variables";

.memory_block {
  padding: 15px;
  border-left: 1px solid $background_color;
  &:hover {
    border-left: 1px solid $border_color;
  }
  div.content {
    font-size: 17px;
  }
  div.time_frame {
    font-size: 13px;
    display: inline;
  }
  div.controls {
    font-size: 13px;
    display: inline;
  }
}

#memory_index {
  #timelines {
    position: fixed;
    left: $central_width+50;
    div.timeline, div.life_timeline {
      div.keys { display: none; }
      float: left;
      margin: 0 2px;
      display: inline-block;
      background: orange;
      width: 1px;
    }
  }
  
  #memories {
    .memory {
    
    }
  }
}

#memory_show {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
}

#memory_new, #memory_edit {
  form {
    div#ghost_content_area {
      position: absolute;
      width: $central_width;
      height: 80px;
      padding: 20px;
      font-size: 40px;
      text-align: center;
      color: $blue;
    }
  
    div#content_area {
      margin-top: 180px;
      text-align: center;
      textarea#content_text_area {
        width: 475px;
        height: 63px;
        padding-left: 7px;
        font-size: 18px;
        color: $text_color;
        border: 1px solid $background_color;
        &:hover {
          border-bottom: 1px solid $pleasant_gray;
        }
      }
      #character_indicator {
        font-size: 12px;
      }
    }
    
    div#time_frames_area {
      display: none;
      margin-top: 25px;
      margin-left: 50px;
      div#time_frames_form {
        ul#list {
          display: inline-block;
          padding-left: 0;
          div.fields { // textfield is in here
            width: 300px;
            a.x { // the delete time frame button
              padding: 1px 4px;
              font-weight: normal;
              &:hover {
                color: $text_color;
              }
            }
            input.time_key_field {
              width: 100px;
              display: inline;
            }
          }
          a#add_time_frame {
            padding: 2px 135px;
            &:hover {
              color: $text_color;
            }
          }
        } // end ul#list
      }
    }

    div#location_area {
      display: none;
      .location_field {
        
      }
    }
    
    div#special_actions {
      text-align: center;
      #time_icon, #location_icon, #submit_memory_button {
        padding: 30px 30px;
      }
      #time_icon {
        img {
          vertical-align: middle;
        }
      }
      #location_icon {
        margin: 0 200px;
        img {
          vertical-align: middle;
        }
      }
      input#submit_memory_button {
        font-family: arial;
      	font-size: 15px;
      }
    }
  } // end form
  
  div#delete_area {
    position: absolute;
    bottom: -50px;
    #delete { // delete link on edit page
      padding: 3px;
      font-size: 10px;
      &:hover { color: red; }
    }
  }
  
}