// Place all the styles related to the memories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "partials/variables";

#memory_new, #memory_edit {
  form {
    div#content_area {
      position: absolute;
      textarea {
        height: 30px;
      }
    }
    
    div#time_frames_area {
      position: absolute;
      margin-left: 500px;
      div#time_frames_form {
        div#time_frames_forms_list {
          ul#list {
            display: inline-block;
            padding-left: 0;
            li {
              list-style-type: none;
            }
          }
        }
      }
      
    }

    div#buttons {
      position: absolute;
      margin: 350px 0 0 0;
      input#submit_memory_button {
        width: $central_width;
      }
    }
  } // end form
}